<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>register.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>register.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>register.result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repersonal</servlet-name>
        <servlet-class>register.repersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recontact</servlet-name>
        <servlet-class>register.recontact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repersonal</servlet-name>
        <url-pattern>/repersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recontact</servlet-name>
        <url-pattern>/recontact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
